In [1]:
import pandas as pd
import numpy as np

In [2]:
covid_df = pd.read_csv("/Users/sahilagrawal/Documents/IT/Data Science/Project/COVID19_Influence_on_Mobility_Patterns_Group2_Fall2023/data-set/owid-covid-data.csv")
mobility_df = pd.read_csv("/Users/sahilagrawal/Documents/IT/Data Science/Project/COVID19_Influence_on_Mobility_Patterns_Group2_Fall2023/data-set/Global_Mobility_Report.csv")

covid_df.head()

/var/folders/53/7qt84sld6sd0jmn84d2_x55w0000gn/T/ipykernel_34706/3414361148.py:2: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  mobility_df = pd.read_csv("/Users/sahilagrawal/Documents/IT/Data Science/Project/COVID19_Influence_on_Mobility_Patterns_Group2_Fall2023/data-set/Global_Mobility_Report.csv")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [ ]:
mobility_df.head()

In [ ]:
print(mobility_df.shape)
print(covid_df.shape)

# Finding missing values for mobility data

In [ ]:
print(mobility_df.isnull().sum())

In [3]:
#Dropping columns with more than 80% missing data
mobility_df = mobility_df.drop(columns = ['metro_area', 'iso_3166_2_code', 'census_fips_code'])

In [4]:
#We don't need sub regions as well
mobility_df = mobility_df.drop(columns = ['sub_region_1', 'sub_region_2'])

In [6]:
#Removing some null value rows
mobility_df.dropna(subset = ['country_region_code'], inplace = True)
mobility_df.dropna(subset = ['place_id'], inplace = True)

In [26]:
print(len(mobility_df))

11701076

In [7]:
print(mobility_df.isnull().sum())

country_region_code                                         0
country_region                                              0
place_id                                                    0
date                                                        0
retail_and_recreation_percent_change_from_baseline    4445519
grocery_and_pharmacy_percent_change_from_baseline     4789784
parks_percent_change_from_baseline                    6212481
transit_stations_percent_change_from_baseline         5901442
workplaces_percent_change_from_baseline                411228
residential_percent_change_from_baseline              4464263
dtype: int64

# Missing values in Covid data

In [8]:
print(covid_df.isnull().sum())

iso_code                                        0
continent                                   16832
location                                        0
date                                            0
total_cases                                 38020
                                            ...
population                                      0
excess_mortality_cumulative_absolute       341557
excess_mortality_cumulative                341557
excess_mortality                           341557
excess_mortality_cumulative_per_million    341557
Length: 67, dtype: int64

In [9]:
print(covid_df.shape)

(353768, 67)

In [10]:
#Dropping columns with more than 75% missing values
threshold = 0.75 * len(covid_df)
covid_df.dropna(thresh=threshold, axis=1, inplace=True)

In [11]:
print(covid_df.shape)

(353768, 26)

In [12]:
covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,human_development_index,population
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0

In [13]:
print(covid_df.isnull().sum())

iso_code                               0
continent                          16832
location                               0
date                                   0
total_cases                        38020
new_cases                           9617
new_cases_smoothed                 10876
total_deaths                       59697
new_deaths                          9572
new_deaths_smoothed                10802
total_cases_per_million            38020
new_cases_per_million               9617
new_cases_smoothed_per_million     10876
total_deaths_per_million           59697
new_deaths_per_million              9572
new_deaths_smoothed_per_million    10802
population_density                 53418
median_age                         74469
aged_65_older                      84218
aged_70_older                      77269
gdp_per_capita                     80018
cardiovasc_death_rate              79374
diabetes_prevalence                65413
life_expectancy                    28269
human_development_index            87813
population                             0
dtype: int64

In [14]:
#For continent there's no need of imputation
covid_df.dropna(subset=['continent'], inplace=True)

In [15]:
#For numerical columns, we will impute the missing values with the mean value
numerical_columns = ['total_cases', 'new_cases', 'total_deaths', 'new_deaths', 'total_cases_per_million', 
                     'new_cases_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 
                     'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita',
                     'cardiovasc_death_rate', 'diabetes_prevalence', 'life_expectancy']

for column in numerical_columns:
    covid_df[column].fillna(covid_df[column].mean(), inplace=True)

In [16]:
covid_df['human_development_index'].fillna(covid_df['human_development_index'].mean(), inplace=True)

In [17]:
print(covid_df.isnull().sum())

iso_code                               0
continent                              0
location                               0
date                                   0
total_cases                            0
new_cases                              0
new_cases_smoothed                 10784
total_deaths                           0
new_deaths                             0
new_deaths_smoothed                10710
total_cases_per_million                0
new_cases_per_million                  0
new_cases_smoothed_per_million     10784
total_deaths_per_million               0
new_deaths_per_million                 0
new_deaths_smoothed_per_million    10710
population_density                     0
median_age                             0
aged_65_older                          0
aged_70_older                          0
gdp_per_capita                         0
cardiovasc_death_rate                  0
diabetes_prevalence                    0
life_expectancy                        0
human_development_index                0
population                             0
dtype: int64

In [18]:
print(covid_df.shape)

(336936, 26)

In [19]:
covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,human_development_index,population
0,AFG,Asia,Afghanistan,2020-01-03,1.684088e+06,0.0,NaN,21924.653258,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
1,AFG,Asia,Afghanistan,2020-01-04,1.684088e+06,0.0,NaN,21924.653258,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
2,AFG,Asia,Afghanistan,2020-01-05,1.684088e+06,0.0,NaN,21924.653258,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
3,AFG,Asia,Afghanistan,2020-01-06,1.684088e+06,0.0,NaN,21924.653258,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
4,AFG,Asia,Afghanistan,2020-01-07,1.684088e+06,0.0,NaN,21924.653258,0.0,NaN,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0

In [20]:
#Doing ffill for remaining missing values, since the percentage is less
columns_to_ffill = ['new_cases_smoothed', 'new_deaths_smoothed', 
                    'new_cases_smoothed_per_million', 'new_deaths_smoothed_per_million']

for column in columns_to_ffill:
    covid_df[column].fillna(method='ffill', inplace=True)

In [21]:
print(covid_df.isnull().sum())

iso_code                           0
continent                          0
location                           0
date                               0
total_cases                        0
new_cases                          0
new_cases_smoothed                 5
total_deaths                       0
new_deaths                         0
new_deaths_smoothed                5
total_cases_per_million            0
new_cases_per_million              0
new_cases_smoothed_per_million     5
total_deaths_per_million           0
new_deaths_per_million             0
new_deaths_smoothed_per_million    5
population_density                 0
median_age                         0
aged_65_older                      0
aged_70_older                      0
gdp_per_capita                     0
cardiovasc_death_rate              0
diabetes_prevalence                0
life_expectancy                    0
human_development_index            0
population                         0
dtype: int64

In [22]:
#Drop small percentage of missing rows
columns_with_missing = ['new_cases_smoothed', 'new_deaths_smoothed', 'new_deaths_smoothed_per_million']

covid_df.dropna(subset=columns_with_missing, inplace=True)

In [23]:
print(covid_df.isnull().sum())

iso_code                           0
continent                          0
location                           0
date                               0
total_cases                        0
new_cases                          0
new_cases_smoothed                 0
total_deaths                       0
new_deaths                         0
new_deaths_smoothed                0
total_cases_per_million            0
new_cases_per_million              0
new_cases_smoothed_per_million     0
total_deaths_per_million           0
new_deaths_per_million             0
new_deaths_smoothed_per_million    0
population_density                 0
median_age                         0
aged_65_older                      0
aged_70_older                      0
gdp_per_capita                     0
cardiovasc_death_rate              0
diabetes_prevalence                0
life_expectancy                    0
human_development_index            0
population                         0
dtype: int64

In [24]:
covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,human_development_index,population
5,AFG,Asia,Afghanistan,2020-01-08,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
6,AFG,Asia,Afghanistan,2020-01-09,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
7,AFG,Asia,Afghanistan,2020-01-10,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
8,AFG,Asia,Afghanistan,2020-01-11,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
9,AFG,Asia,Afghanistan,2020-01-12,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0

In [25]:
mobility_df.head()

,country_region_code,country_region,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

# Converting date to datetime obj in both the dataframes

In [28]:
covid_df['date'] = pd.to_datetime(covid_df['date'])
mobility_df['date'] = pd.to_datetime(mobility_df['date'])

covid_df['date']

5        2020-01-08
6        2020-01-09
7        2020-01-10
8        2020-01-11
9        2020-01-12
            ...
353763   2023-10-29
353764   2023-10-30
353765   2023-10-31
353766   2023-11-01
353767   2023-11-02
Name: date, Length: 336931, dtype: datetime64[ns]

In [29]:
mobility_df['date']

0          2020-02-15
1          2020-02-16
2          2020-02-17
3          2020-02-18
4          2020-02-19
              ...
11730020   2022-09-22
11730021   2022-09-26
11730022   2022-10-03
11730023   2022-10-10
11730024   2022-10-13
Name: date, Length: 11701076, dtype: datetime64[ns]

In [35]:
# Get unique dates in mobility_df and covid_df
unique_dates_mobility = set(mobility_df['date'].unique())
unique_dates_covid = set(covid_df['date'].unique())

# Find the common dates
common_dates = unique_dates_mobility.intersection(unique_dates_covid)

print("Number of unique dates in mobility_df:", len(unique_dates_mobility))
print("Number of unique dates in covid_df:", len(unique_dates_covid))

print("Common dates between mobility_df and covid_df:", len(common_dates))

Number of unique dates in mobility_df: 974
Number of unique dates in covid_df: 1406
Common dates between mobility_df and covid_df: 974

# Missing value in Mobility df

In [36]:
print(mobility_df.isnull().sum())

country_region_code                                         0
country_region                                              0
place_id                                                    0
date                                                        0
retail_and_recreation_percent_change_from_baseline    4445519
grocery_and_pharmacy_percent_change_from_baseline     4789784
parks_percent_change_from_baseline                    6212481
transit_stations_percent_change_from_baseline         5901442
workplaces_percent_change_from_baseline                411228
residential_percent_change_from_baseline              4464263
dtype: int64

In [37]:
columns_to_ffill = [
    'retail_and_recreation_percent_change_from_baseline',
    'grocery_and_pharmacy_percent_change_from_baseline',
    'parks_percent_change_from_baseline',
    'transit_stations_percent_change_from_baseline',
    'workplaces_percent_change_from_baseline',
    'residential_percent_change_from_baseline'
]

mobility_df[columns_to_ffill] = mobility_df[columns_to_ffill].fillna(method='ffill')

In [41]:
print(mobility_df.isnull().sum())
print(len(mobility_df))

country_region_code                                   0
country_region                                        0
place_id                                              0
date                                                  0
retail_and_recreation_percent_change_from_baseline    0
grocery_and_pharmacy_percent_change_from_baseline     0
parks_percent_change_from_baseline                    0
transit_stations_percent_change_from_baseline         0
workplaces_percent_change_from_baseline               0
residential_percent_change_from_baseline              0
dtype: int64
11701076

In [39]:
mobility_df.head()

,country_region_code,country_region,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

# Merge Place ID with country_region

In [54]:
grouped_mob_df = mobility_df.groupby(['country_region_code', 'country_region', 'place_id']).agg({
    'date': 'first',
    'retail_and_recreation_percent_change_from_baseline': 'mean',
    'grocery_and_pharmacy_percent_change_from_baseline': 'mean',
    'parks_percent_change_from_baseline': 'mean',
    'transit_stations_percent_change_from_baseline': 'mean',
    'workplaces_percent_change_from_baseline': 'mean',
    'residential_percent_change_from_baseline': 'mean'
}).reset_index()

print(len(grouped_mob_df))

13235

In [55]:
grouped_mob_df.head()

,country_region_code,country_region,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,ChIJ0Zp9hY5ZXz4RZlq4HHZvx2g,2020-02-15,5.819302,22.661191,-24.036961,-2.542094,-6.642710,8.805955
1,AE,United Arab Emirates,ChIJGczaTT5mXj4RBNmakTvGr4s,2020-02-15,-7.565708,13.646817,-19.554415,-31.486653,-4.796715,9.025667
2,AE,United Arab Emirates,ChIJHwyp6rZXXz4RerixWbtcrRE,2020-02-15,4.552361,16.956879,-12.560575,-9.775154,0.409651,9.218686
3,AE,United Arab Emirates,ChIJP-14gXD99T4RGDyAmyB_vKE,2020-02-15,20.751810,25.706308,11.000000,58.000000,2.868666,10.165460
4,AE,United Arab Emirates,ChIJRcbZaklDXz4R6SkAK7_QznQ,2020-02-15,-9.000000,19.113963,-21.908624,-16.071869,-5.717659,9.724846

In [56]:
grouped_mob_df['date'].unique()

array(['2020-02-15T00:00:00.000000000', '2020-02-21T00:00:00.000000000',
       '2020-03-16T00:00:00.000000000', '2020-02-17T00:00:00.000000000',
       '2020-03-23T00:00:00.000000000', '2020-03-20T00:00:00.000000000',
       '2020-06-08T00:00:00.000000000', '2020-02-16T00:00:00.000000000',
       '2020-02-25T00:00:00.000000000', '2020-02-18T00:00:00.000000000',
       '2020-02-23T00:00:00.000000000', '2020-02-24T00:00:00.000000000',
       '2020-04-03T00:00:00.000000000', '2020-03-15T00:00:00.000000000',
       '2020-03-19T00:00:00.000000000', '2020-03-27T00:00:00.000000000',
       '2020-03-02T00:00:00.000000000', '2020-02-19T00:00:00.000000000',
       '2020-02-20T00:00:00.000000000', '2020-03-09T00:00:00.000000000',
       '2020-04-10T00:00:00.000000000', '2020-03-25T00:00:00.000000000',
       '2020-04-13T00:00:00.000000000', '2020-03-04T00:00:00.000000000',
       '2020-04-01T00:00:00.000000000', '2020-03-01T00:00:00.000000000',
       '2020-06-09T00:00:00.000000000', '2020-03-30T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2020-11-02T00:00:00.000000000',
       '2020-07-31T00:00:00.000000000', '2020-03-03T00:00:00.000000000',
       '2020-04-20T00:00:00.000000000', '2020-04-17T00:00:00.000000000',
       '2020-05-06T00:00:00.000000000', '2020-03-22T00:00:00.000000000',
       '2020-03-24T00:00:00.000000000', '2020-03-06T00:00:00.000000000',
       '2020-03-26T00:00:00.000000000', '2020-04-21T00:00:00.000000000',
       '2020-04-09T00:00:00.000000000', '2020-03-29T00:00:00.000000000',
       '2020-02-22T00:00:00.000000000', '2020-04-11T00:00:00.000000000',
       '2020-03-21T00:00:00.000000000', '2020-04-05T00:00:00.000000000',
       '2020-02-26T00:00:00.000000000', '2020-05-07T00:00:00.000000000',
       '2020-03-08T00:00:00.000000000', '2020-05-13T00:00:00.000000000',
       '2020-02-27T00:00:00.000000000', '2020-04-06T00:00:00.000000000',
       '2020-04-07T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-03-18T00:00:00.000000000', '2020-02-28T00:00:00.000000000',
       '2020-04-08T00:00:00.000000000', '2020-03-17T00:00:00.000000000',
       '2020-05-16T00:00:00.000000000', '2020-04-18T00:00:00.000000000',
       '2020-03-12T00:00:00.000000000', '2020-03-13T00:00:00.000000000',
       '2020-04-19T00:00:00.000000000', '2020-05-14T00:00:00.000000000',
       '2020-03-11T00:00:00.000000000', '2020-05-01T00:00:00.000000000',
       '2020-03-28T00:00:00.000000000', '2020-04-30T00:00:00.000000000',
       '2020-04-27T00:00:00.000000000', '2020-05-21T00:00:00.000000000',
       '2020-04-02T00:00:00.000000000', '2020-06-01T00:00:00.000000000',
       '2020-03-10T00:00:00.000000000', '2020-04-16T00:00:00.000000000',
       '2020-04-14T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2020-05-25T00:00:00.000000000', '2020-04-23T00:00:00.000000000',
       '2020-05-26T00:00:00.000000000', '2020-04-24T00:00:00.000000000',
       '2020-04-25T00:00:00.000000000', '2020-10-27T00:00:00.000000000',
       '2020-09-23T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-04-15T00:00:00.000000000', '2021-01-01T00:00:00.000000000',
       '2020-11-25T00:00:00.000000000', '2020-12-24T00:00:00.000000000',
       '2020-04-29T00:00:00.000000000', '2020-04-04T00:00:00.000000000',
       '2022-09-05T00:00:00.000000000', '2020-07-03T00:00:00.000000000',
       '2021-02-10T00:00:00.000000000'], dtype='datetime64[ns]')

In [58]:
aggregated_mobility_df = grouped_mob_df.groupby(['country_region', 'date']).agg({
    'country_region_code': 'first',
    'retail_and_recreation_percent_change_from_baseline': 'mean',
    'grocery_and_pharmacy_percent_change_from_baseline': 'mean',
    'parks_percent_change_from_baseline': 'mean',
    'transit_stations_percent_change_from_baseline': 'mean',
    'workplaces_percent_change_from_baseline': 'mean',
    'residential_percent_change_from_baseline': 'mean'
}).reset_index()

print(len(aggregated_mobility_df))

578

In [59]:
aggregated_mobility_df.head()

,country_region,date,country_region_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,Afghanistan,2020-02-15,AF,33.371367,77.966093,36.478471,-1.186760,-1.483854,5.278794
1,Angola,2020-02-15,AO,1.912164,14.740914,116.533881,-6.996172,5.553013,4.382957
2,Angola,2020-02-17,AO,-62.000000,-48.000000,222.000000,-43.000000,2.752480,4.000000
3,Antigua and Barbuda,2020-02-15,AG,17.478312,18.987567,70.134643,-32.342295,-39.426172,3.939506
4,Antigua and Barbuda,2020-02-21,AG,41.000000,38.000000,97.000000,-44.000000,-32.855501,4.000000

In [61]:
#Unique countries
print(aggregated_mobility_df['country_region'].unique())

['Afghanistan' 'Angola' 'Antigua and Barbuda' 'Argentina' 'Aruba'
 'Australia' 'Austria' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bolivia' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Bulgaria' 'Burkina Faso' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Chile' 'Colombia' 'Costa Rica' 'Croatia' 'Czechia'
 "CÃ´te d'Ivoire" 'Denmark' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Estonia' 'Fiji' 'Finland' 'France' 'Gabon' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Guatemala' 'Guinea-Bissau' 'Haiti' 'Honduras'
 'Hong Kong' 'Hungary' 'India' 'Indonesia' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Libya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Malaysia' 'Mali' 'Malta' 'Mauritius' 'Mexico'
 'Moldova' 'Mongolia' 'Morocco' 'Mozambique' 'Myanmar (Burma)' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Romania' 'Russia' 'Rwanda' 'RÃ©union' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'South Korea' 'Spain'
 'Sri Lanka' 'Sweden' 'Switzerland' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'The Bahamas' 'Togo' 'Trinidad and Tobago' 'Turkey' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

In [66]:
#Unique dates
print(aggregated_mobility_df['date'].unique())

['2020-02-15T00:00:00.000000000' '2020-02-17T00:00:00.000000000'
 '2020-02-21T00:00:00.000000000' '2020-03-16T00:00:00.000000000'
 '2020-02-16T00:00:00.000000000' '2020-02-18T00:00:00.000000000'
 '2020-02-19T00:00:00.000000000' '2020-02-23T00:00:00.000000000'
 '2020-02-24T00:00:00.000000000' '2020-02-25T00:00:00.000000000'
 '2020-03-02T00:00:00.000000000' '2020-03-15T00:00:00.000000000'
 '2020-03-19T00:00:00.000000000' '2020-03-20T00:00:00.000000000'
 '2020-03-23T00:00:00.000000000' '2020-03-27T00:00:00.000000000'
 '2020-04-03T00:00:00.000000000' '2020-06-08T00:00:00.000000000'
 '2020-02-20T00:00:00.000000000' '2020-03-01T00:00:00.000000000'
 '2020-03-04T00:00:00.000000000' '2020-03-09T00:00:00.000000000'
 '2020-03-25T00:00:00.000000000' '2020-04-01T00:00:00.000000000'
 '2020-04-10T00:00:00.000000000' '2020-04-13T00:00:00.000000000'
 '2020-06-09T00:00:00.000000000' '2020-03-30T00:00:00.000000000'
 '2020-03-22T00:00:00.000000000' '2020-02-27T00:00:00.000000000'
 '2020-04-06T00:00:00.000000000' '2020-02-22T00:00:00.000000000'
 '2020-02-26T00:00:00.000000000' '2020-03-06T00:00:00.000000000'
 '2020-03-08T00:00:00.000000000' '2020-03-21T00:00:00.000000000'
 '2020-03-24T00:00:00.000000000' '2020-03-26T00:00:00.000000000'
 '2020-03-29T00:00:00.000000000' '2020-04-05T00:00:00.000000000'
 '2020-04-09T00:00:00.000000000' '2020-04-11T00:00:00.000000000'
 '2020-04-21T00:00:00.000000000' '2020-05-07T00:00:00.000000000'
 '2020-05-13T00:00:00.000000000' '2020-03-03T00:00:00.000000000'
 '2020-04-17T00:00:00.000000000' '2020-04-20T00:00:00.000000000'
 '2020-05-06T00:00:00.000000000' '2020-07-31T00:00:00.000000000'
 '2020-09-30T00:00:00.000000000' '2020-11-02T00:00:00.000000000'
 '2020-05-14T00:00:00.000000000' '2020-04-08T00:00:00.000000000'
 '2020-02-28T00:00:00.000000000' '2020-03-18T00:00:00.000000000'
 '2020-03-31T00:00:00.000000000' '2020-04-07T00:00:00.000000000'
 '2020-04-18T00:00:00.000000000' '2020-03-17T00:00:00.000000000'
 '2020-05-16T00:00:00.000000000' '2020-03-12T00:00:00.000000000'
 '2020-03-13T00:00:00.000000000' '2020-04-19T00:00:00.000000000'
 '2020-03-11T00:00:00.000000000' '2020-05-01T00:00:00.000000000'
 '2020-04-27T00:00:00.000000000' '2020-03-28T00:00:00.000000000'
 '2020-04-30T00:00:00.000000000' '2020-05-21T00:00:00.000000000'
 '2020-04-02T00:00:00.000000000' '2020-03-10T00:00:00.000000000'
 '2020-04-16T00:00:00.000000000' '2020-06-01T00:00:00.000000000'
 '2020-04-14T00:00:00.000000000' '2020-04-25T00:00:00.000000000'
 '2020-09-23T00:00:00.000000000' '2020-10-27T00:00:00.000000000'
 '2020-10-01T00:00:00.000000000' '2020-04-23T00:00:00.000000000'
 '2020-04-24T00:00:00.000000000' '2020-05-25T00:00:00.000000000'
 '2020-05-26T00:00:00.000000000' '2020-02-29T00:00:00.000000000'
 '2020-04-04T00:00:00.000000000' '2020-04-15T00:00:00.000000000'
 '2020-04-29T00:00:00.000000000' '2020-07-03T00:00:00.000000000'
 '2020-11-25T00:00:00.000000000' '2020-12-24T00:00:00.000000000'
 '2021-01-01T00:00:00.000000000' '2021-02-10T00:00:00.000000000'
 '2022-09-05T00:00:00.000000000']

# Now both the dataframe looks good for merging

In [67]:
aggregated_mobility_df.head()

,country_region,date,country_region_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,Afghanistan,2020-02-15,AF,33.371367,77.966093,36.478471,-1.186760,-1.483854,5.278794
1,Angola,2020-02-15,AO,1.912164,14.740914,116.533881,-6.996172,5.553013,4.382957
2,Angola,2020-02-17,AO,-62.000000,-48.000000,222.000000,-43.000000,2.752480,4.000000
3,Antigua and Barbuda,2020-02-15,AG,17.478312,18.987567,70.134643,-32.342295,-39.426172,3.939506
4,Antigua and Barbuda,2020-02-21,AG,41.000000,38.000000,97.000000,-44.000000,-32.855501,4.000000

In [68]:
covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,human_development_index,population
5,AFG,Asia,Afghanistan,2020-01-08,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
6,AFG,Asia,Afghanistan,2020-01-09,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
7,AFG,Asia,Afghanistan,2020-01-10,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
8,AFG,Asia,Afghanistan,2020-01-11,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
9,AFG,Asia,Afghanistan,2020-01-12,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0

In [69]:
print(len(aggregated_mobility_df))
print(len(covid_df))

578
336931

In [70]:
print(aggregated_mobility_df.shape)
print(covid_df.shape)

(578, 9)
(336931, 26)

# Merge the two DataFrames based on 'location' and 'date'

In [76]:
merged_loc_date_df = covid_df.merge(aggregated_mobility_df, left_on=['location', 'date'], right_on=['country_region', 'date'], how='left')

In [77]:
#Checking the final dataframe
print(merged_loc_date_df.shape)
print(len(merged_loc_date_df))

(336931, 34)
336931

In [78]:
#Exporting the final dataframe
csv_file_path = '/Users/sahilagrawal/Documents/IT/Data Science/Project/COVID19_Influence_on_Mobility_Patterns_Group2_Fall2023/data-set/merged_loc_date_df.csv'

merged_loc_date_df.to_csv(csv_file_path, index=False)

In [80]:
print(len(mobility_df))
print(len(aggregated_mobility_df))

11701076
578

# Creating a new CSV, aggregating based on date

In [81]:
covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,human_development_index,population
5,AFG,Asia,Afghanistan,2020-01-08,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
6,AFG,Asia,Afghanistan,2020-01-09,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
7,AFG,Asia,Afghanistan,2020-01-10,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
8,AFG,Asia,Afghanistan,2020-01-11,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0
9,AFG,Asia,Afghanistan,2020-01-12,1.684088e+06,0.0,0.0,21924.653258,0.0,0.0,...,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,0.511,41128772.0

In [83]:
mobility_df.head()

,country_region_code,country_region,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [84]:
# Change the day of the date to '01' for both DataFrames
covid_df['date'] = covid_df['date'].apply(lambda x: x.replace(day=1))
mobility_df['date'] = mobility_df['date'].apply(lambda x: x.replace(day=1))

In [85]:
mobility_df.head()

,country_region_code,country_region,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-01,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-01,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-01,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-01,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-01,-2.0,0.0,4.0,-1.0,2.0,1.0

# Aggregating columns based on date

In [91]:
covid_aggregation_columns = {
    'iso_code': 'first',
    'continent': 'first',
    'total_cases': 'sum',
    'new_cases': 'sum',
    'total_deaths': 'sum',
    'new_deaths': 'sum',
    'total_cases_per_million': 'mean',
    'new_cases_per_million': 'mean',
    'total_deaths_per_million': 'mean',
    'new_deaths_per_million': 'mean',
    'population_density': 'mean',
    'median_age': 'mean',
    'aged_65_older': 'mean',
    'aged_70_older': 'mean',
    'gdp_per_capita': 'mean',
    'cardiovasc_death_rate': 'mean',
    'diabetes_prevalence': 'mean',
    'life_expectancy': 'mean',
    'human_development_index': 'mean',
    'population': 'mean'
}


mobility_aggregation_columns = {
    'country_region_code': 'first',
    'retail_and_recreation_percent_change_from_baseline': 'mean',
    'grocery_and_pharmacy_percent_change_from_baseline': 'mean',
    'parks_percent_change_from_baseline': 'mean',
    'transit_stations_percent_change_from_baseline': 'mean',
    'workplaces_percent_change_from_baseline': 'mean',
    'residential_percent_change_from_baseline': 'mean'
}

In [92]:
aggregated_cov_df = covid_df.groupby(['location', 'date']).agg(covid_aggregation_columns).reset_index()
aggregated_mobi_df = mobility_df.groupby(['country_region', 'date']).agg(mobility_aggregation_columns).reset_index()

location                    0
date                        0
iso_code                    0
continent                   0
total_cases                 0
new_cases                   0
total_deaths                0
new_deaths                  0
total_cases_per_million     0
new_cases_per_million       0
total_deaths_per_million    0
new_deaths_per_million      0
population_density          0
median_age                  0
aged_65_older               0
aged_70_older               0
gdp_per_capita              0
cardiovasc_death_rate       0
diabetes_prevalence         0
life_expectancy             0
human_development_index     0
population                  0
dtype: int64
country_region                                        0
date                                                  0
country_region_code                                   0
place_id                                              0
retail_and_recreation_percent_change_from_baseline    0
grocery_and_pharmacy_percent_change_from_baseline     0
parks_percent_change_from_baseline                    0
transit_stations_percent_change_from_baseline         0
workplaces_percent_change_from_baseline               0
residential_percent_change_from_baseline              0
dtype: int64

In [93]:
print(len(aggregated_cov_df))
print(len(aggregated_mobi_df))

11311
4411

# Merge the two dataframes now based on aggregated Loc and Date

In [123]:
merged_date_df = aggregated_cov_df.merge(aggregated_mobi_df, left_on=['location', 'date'], right_on=['country_region', 'date'], how='right')
mobility_columns = ['country_region', 'country_region_code', 'retail_and_recreation_percent_change_from_baseline', 'grocery_and_pharmacy_percent_change_from_baseline', 'parks_percent_change_from_baseline', 'transit_stations_percent_change_from_baseline', 'workplaces_percent_change_from_baseline', 'residential_percent_change_from_baseline']

# Rename columns with a prefix
for column in mobility_columns:
    merged_date_df.rename(columns={column: f'mobility_{column}'}, inplace=True)

In [124]:
print(len(merged_date_df))

4411

In [127]:
print(merged_date_df.isnull().sum())

location                                                       132
date                                                             0
iso_code                                                       132
continent                                                      132
total_cases                                                    132
new_cases                                                      132
total_deaths                                                   132
new_deaths                                                     132
total_cases_per_million                                        132
new_cases_per_million                                          132
total_deaths_per_million                                       132
new_deaths_per_million                                         132
population_density                                             132
median_age                                                     132
aged_65_older                                                  132
aged_70_older                                                  132
gdp_per_capita                                                 132
cardiovasc_death_rate                                          132
diabetes_prevalence                                            132
life_expectancy                                                132
human_development_index                                        132
population                                                     132
mobility_country_region                                          0
mobility_country_region_code                                     0
place_id                                                         0
mobility_retail_and_recreation_percent_change_from_baseline      0
mobility_grocery_and_pharmacy_percent_change_from_baseline       0
mobility_parks_percent_change_from_baseline                      0
mobility_transit_stations_percent_change_from_baseline           0
mobility_workplaces_percent_change_from_baseline                 0
mobility_residential_percent_change_from_baseline                0
dtype: int64

In [131]:
#Remove null values from merged data frame
merged_date_df = merged_date_df.dropna()

In [132]:
print(merged_date_df.isnull().sum())
print(len(merged_date_df))

location                                                       0
date                                                           0
iso_code                                                       0
continent                                                      0
total_cases                                                    0
new_cases                                                      0
total_deaths                                                   0
new_deaths                                                     0
total_cases_per_million                                        0
new_cases_per_million                                          0
total_deaths_per_million                                       0
new_deaths_per_million                                         0
population_density                                             0
median_age                                                     0
aged_65_older                                                  0
aged_70_older                                                  0
gdp_per_capita                                                 0
cardiovasc_death_rate                                          0
diabetes_prevalence                                            0
life_expectancy                                                0
human_development_index                                        0
population                                                     0
mobility_country_region                                        0
mobility_country_region_code                                   0
place_id                                                       0
mobility_retail_and_recreation_percent_change_from_baseline    0
mobility_grocery_and_pharmacy_percent_change_from_baseline     0
mobility_parks_percent_change_from_baseline                    0
mobility_transit_stations_percent_change_from_baseline         0
mobility_workplaces_percent_change_from_baseline               0
mobility_residential_percent_change_from_baseline              0
dtype: int64
4279

In [133]:
#Export to csv
csv_path = '/Users/sahilagrawal/Documents/IT/Data Science/Project/COVID19_Influence_on_Mobility_Patterns_Group2_Fall2023/data-set/merged_date_based_df.csv'

merged_date_df.to_csv(csv_path, index=False)

In [134]:
merged_date_df.head()

,location,date,iso_code,continent,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,population,mobility_country_region,mobility_country_region_code,place_id,mobility_retail_and_recreation_percent_change_from_baseline,mobility_grocery_and_pharmacy_percent_change_from_baseline,mobility_parks_percent_change_from_baseline,mobility_transit_stations_percent_change_from_baseline,mobility_workplaces_percent_change_from_baseline,mobility_residential_percent_change_from_baseline
0,Afghanistan,2020-02-01,AFG,Asia,4.210220e+07,1.0,635814.944493,0.0,89748.736209,0.000828,...,41128772.0,Afghanistan,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,-1.200000,5.100000,0.866667,4.966667,2.600000,0.800000
1,Afghanistan,2020-03-01,AFG,Asia,8.310000e+02,113.0,504282.024942,4.0,0.651677,0.088677,...,41128772.0,Afghanistan,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,-10.741935,-1.306452,-3.306452,-9.064516,-7.161290,3.693548
2,Afghanistan,2020-04-01,AFG,Asia,2.335300e+04,1713.0,756.000000,56.0,18.926767,1.388400,...,41128772.0,Afghanistan,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,-50.250000,-32.233333,-29.000000,-46.183333,-40.566667,16.166667
3,Afghanistan,2020-05-01,AFG,Asia,2.044310e+05,12616.0,4616.000000,188.0,160.339000,9.895000,...,41128772.0,Afghanistan,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,-44.083333,-20.111111,-30.000000,-41.333333,-32.972222,16.416667
4,Afghanistan,2020-07-01,AFG,Asia,1.071563e+06,5304.0,32779.000000,538.0,840.446903,4.159968,...,41128772.0,Afghanistan,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,-8.827586,18.965517,-2.482759,-8.620690,-15.568966,6.379310